// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_answer {
  margin-top: 40px;
  margin-bottom: 20px;
}

.edit_answer {
  display: none;
}

.form-horizontal {
  max-width: 400px;
}

.set-best-answer {
  font-style: italic;
  color: red;
}