// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_answer {
  margin-top: 40px;
  margin-bottom: 20px;
}

.answer_errors {
  list-style: none;
  color: red;
  padding: 5px;
  font-size: 15px;
}

.edit_answer {
  display: none;
}

.form-horizontal {
  max-width: 600px;
}

.set-best-answer {
  font-style: italic;
  color: red;
}

.answer {
  margin-bottom: 10px;
  padding: 10px;
}

.vote-up {
  height: 5px;
  font-size: 30pt;
  width: 20px;
  color: #444444;
  text-align: center;
  margin-bottom: 40px;
  color: #444444;
  text-decoration: none;
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
}

.vote-down {
  height: 10px;
  font-size: 30pt;
  width: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
}

.answer-row {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.vote-count {
  font-size: 15pt;
  width: 30px;
  text-align: center;
}
