/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.errors ul {
    list-style: none;
    color: red;
    padding: 5px;
    font-size: 15px;
}

ul.navigation-links {
    list-style: none;
    display: flex;
}

ul.navigation-links li {
    flex-grow: 1;
}

.notices {
    color: #ff0000;
    font-size: 22px;
    margin-top: 20px;
}

.new_user {
    max-width: 250px;
}