// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-vote: #444444;

section.questions-list {
  width: 600px;
}

.question-title-in-list {
  font-size: 20px;
  padding: 5px;
}

.question_answers {
  border-bottom: 1px solid #444444;
  width: 700px;
}

.question_show {
  margin-bottom: 40px;
}

.question {
  max-width: 400px;
}

textarea {
  resize: none;
}

.question-title {
  margin-bottom: 30px;
}

.question-title:hover {
  text-decoration: none;
}

.nested-fields {
  margin-top: 20px;
}

.add-file {
  margin-bottom: 20px;
}

.file-name {
  color: red;
  margin-bottom: 10px;
}

ul.attached-files {
  list-style: none;
}

.row.attached-file {
  margin: 10px 0;
}

.row.attached-file a {
  display: inline-block;
  padding-right: 10px;
}

.add_file {
  display: none;
}

.vote-question-up {
  height: 5px;
  font-size: 30pt;
  text-align: center;
  margin-bottom: 30px;
  color: $color-vote;
  text-decoration: none;
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
  a img {
    width: 25px;
    height: 15px;
  }
}

.vote-question-down {
  height: 5px;
  font-size: 30pt;
  text-align: center;
  color: $color-vote;
  text-decoration: none;
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
  a img {
    width: 25px;
    height: 15px;
  }
}

.vote-question-count {
  height: 10px;
  padding-top: 5px;
  font-size: 15pt;
  text-align: center;
}

.vote-question-reload {
  margin-top: 40px;
}