// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
  max-width: 400px;
}

textarea {
  resize: none;
}

.questions-list {
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
}

.question-title {
  margin-bottom: 30px;
}

.question_show {
  margin-bottom: 40px;
  border: 1px solid black;
  background-color: #CCCCCC;
  padding: 10px;
  border-radius: 5px;
}

.nested-fields {
  margin-top: 20px;
}

.add-file {
  margin-bottom: 20px;
}

.file-name {
  color: red;
  margin-bottom: 10px;
}

ul.attached-files {
  list-style: none;
}

.row.attached-file {
  margin: 10px 0;
}
.row.attached-file a{
  display: inline-block;
  padding-right: 10px;
}